* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  direction: rtl;
  font-family: 'vazir' !important;
  background: #dddddd !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;

}

.section-center {
  width: 600px;
}

.section-center h4 {
  font-size: 25px;
  padding: 20px;
}

.section-center input {
  border: 1px solid #fff;
  padding: 7px;
  margin: 15px;
  background-color: transparent;
}

.section-center button {
  border: none;
  background-color: aquamarine;
  width: 100px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}

.section-center p {
  margin-top: 40px;
}