* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  direction: ltr;
  font-family: 'vazir' !important;
  background: #222831 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.containerFake {
  background-color: #dddddd;
  margin: auto;
  width: 700px;
  padding: 45px 28px;
  border-radius: 15px;
  color: #30475E;
  box-shadow: #222831 2px 2px 4px 2px inset;
}

.questionTitle {
  padding: 10px;
}

h3 {
  font-size: 25px;
  padding: 20px 0;
}

.title {
  font-weight: 800;
}

.qusetion {
  margin-top: 25px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px #30475E;
}

.qusetion header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qusetion p {
  font-size: 15px;
  color: #333;
  margin-top: 15px;
  height: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.qusetion p.show {
  max-height: 500px;
  opacity: 1;
  margin-top: 15px;
}

.qusetion button.toggle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F05454;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.qusetion button.toggle-btn:hover {
  background: #ac3c3c;
}

.qusetion button.toggle-btn .icon {
  display: inline-flex;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.qusetion button.toggle-btn .icon.show {
  transform: rotate(180deg);
  opacity: 1;
}

.qusetion button.toggle-btn .icon:not(.show) {
  transform: rotate(0deg);
  opacity: 1;
}